header {
    background-color:blue;
    height:200px;
}

div {
    height: 1vh;
    width : 1vw;
    background-color: aqua;
}

.game-window {
    height: 400px;
    width:300px;
    border: 1px solid red;
}