* {
    padding:0;
    margin:0;
}
header {
    background-color:blue;
    height:200px;
}

#game-window {
    height: 400px;
    width:500px;
    border: 1px solid red;
}

#character {
    width:8px;
    height:16px;
    border: 1px solid green;
    background-image: url("assets/images/temp-sprite.png");
}